<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body">

      <!-- //created a template and then then on submit pass that template in calling function -->
      <form #loginForm='ngForm' (ngSubmit)="onLogin(loginForm)">
        <div class="form-group col-12">
          <label for="userName" class="form-label">UserName</label>
          <input type="text" class="form-control" required  ngModel name="userName">
        </div>

          <div class="form-group col-12">
            <label for="password"  class="form-label">Password</label>
            <input type="password" class="form-control" required ngModel name="password" >
            <!-- //use ng model to nind the input -->
          </div>

          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->

          <div class="form-group col-12 ">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-primary">Cancel</button>
          </div>

      </form>
    </div>
</div>
</div>
</div>
